@media screen and (min-width 1201px)
  .columns
    display flex
    flex-direction row

    .column
      flex 1

      &:not(:first-child)
        margin-left 1rem

@media screen and (max-width 1200px)
  .columns
    display block

    .column
      &:not(:first-child)
        margin-top 1rem
